fastapi
uvicorn
docker
requests
python-multipart
mcrcon
beautifulsoup4
sqlalchemy
passlib[bcrypt]
python-jose[cryptography]
apscheduler
aiofiles
python-dateutil
pydantic[email]
bcrypt==4.0.1
psycopg2-binary
psutil
pillow>=10,<11
mcstatus
httpx
